{
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "printWidth": 100
}
